<h1>Товари:</h1>

<% if @items.empty? %>
  <p>Немає товарів у магазині</p>
<% else %>
  <table class="items">
    <tr>
      <th>Id товару</th>
      <th>Назва товару</th>
      <th>Опис товару</th>
      <th>Ціна</th>
      <th>Вага</th>
      <th></th>
      <th></th>
    </tr>

    <% @items.each do |i| %>
      <tr>
        <td><%= i.id %></td>
        <td>
          <%= image_tag(i.image.url, alt: 'Image', width: "30px", height: "30px") if i.image? %> <br>
          <%= link_to i.name, item_path(i) %>
        </td>
        <td><%= i.description %></td>
        <td><%= i.price %> грн.</td>
        <td><%= i.weight %> кг.</td>
        <td><%= link_to 'Видалити', i, method: :delete, data: { confirm: 'Бажаєте видалити даний товар?' } %></td>
        <td>Рейтинг: <%= i.votes_count %><%= link_to '+', upvote_item_path(i) %></td>
      </tr>
    <% end %>
  </table>
<% end %>