<h1>Create new item</h1>

<%= form_for @item do |f| %>
  <p>Назва товару:</br><%=  f.text_field :name %></p>
  <p>Опис товару:</br><%=  f.text_field :description %></p>
  <p>Вага:</br> <%=  f.text_field :weight %></p>
  <p>Ціна:</br><%=  f.text_field :price %></p>

  <p><%= f.submit 'Створити товар' %></p>
<%end%>